<div class="container">
    <br><br>
    <small class="pull-left">
        Versão DEMO · PUC-Rio · Construção de Software
    </small>
    <small class="pull-right">
      <%= link_to "Sobre", '' %> · 
      <%= link_to "Contato", '' %>
      © <%= app_name %> 2013
    </small>
</div>
