<div class="navbar navbar-fixed-top navbar-inverse navbar-inverse-bg">
    <div class="navbar-inner">
      <div class="container">

      <ul class="nav">
        <li><%= link_to 'Sign up', '' %></li>
        <li><%= link_to 'Login', '' %></li>
        <li><a href="#">Learn more</a></li>
        <li><a href="#">Contact</a></li>
      </ul>

    </div>
  </div>
</div>